.cabecalho{
    background-color: var(--o-roxo);
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    color: var(--off-white);
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    

}


.cabecalho__circulo{
    width: 100px; 
    height: 100px; 
    overflow: hidden;
    border-radius: 50%;
}
.cabecalho__circulo--imagem{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;  
}

.cabecalho__conteudo--titulo{
    
    margin: 0;
    font-size: 2.5rem;
    font-family: Open Sans;
    color: var(--off-white);
    color: white;
    font-weight: bold;

}

.cabecalho__conteudo--subtitulo{
    font-size: 1rem;
    padding-top: 5px;
}



@media (max-width: 767px){
    .cabecalho__conteudo--titulo{
        font-size: 1.6rem;
    }


    
    .cabecalho__conteudo--subtitulo{
        font-size: 1rem;
        padding-top: 5px;
}

}