
.conversao{
    background-color: var(--off-white);
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.7);
    padding-bottom: 50px;
}

.conversao--titulo{
    font-size: 2rem;
    font-family: Open Sans;
    font-weight: bold;
    color: var(--black);
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 3rem;

}

.conversao__box{
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0 ;
    height: 600px;
    
}



/*lado esquerdo da tela (box onde fica o celular)*/
.conversao__celular__box{
    width: 40%;
    height: 600px;
    background-color:none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*tela para printar as saidas*/
.celular__tela{
    margin-top: 20px;
    height: 80%;
    width: 85%;
    min-width: 430px;
    background-color: rgb(255, 255, 255);
    border-radius: 75px 75px 0 0;
    border-bottom: 1px solid black;
    background-image: url('../img/celular.png');
    background-repeat: no-repeat;
    background-size: cover;

}
/* tela onde vao aparecer as mensagens*/
.celular__tela-container{
    width: 90%;
    height: 87.6%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 11.5%;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    overflow: auto;

}





/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .celular__tela-container {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .celular__tela-container::-webkit-scrollbar {
    width: 14px;
  }

  .celular__tela-container::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .celular__tela-container::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }





/*titulo*/
.celular__tela--titulo{
    width: 100%;
    height: 10%;
    padding-top: 14px;
    text-align: center;
    font-size: 1.2rem;
    font-family: Open Sans;
    font-weight: bold;
    color: var(--black);
}




/* box onde fica input e botao enviar*/
.celular__enviar{
    width: 80%;
    height: 35px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
}

/*local do input de dados do usuário*/
.celular__input{
    
       margin-left: 10px;
        background:none;
        border: none;
        outline: none;
        width: 400px;
        padding: 10px 20px;
        margin-right: 15px;
        font-size: 16px;
        border-radius: 9999px;
        box-shadow: 1px 1px 5px rgb(5, 5, 5, 0.3);
        color: #000000;
        background-color: #ffffff;
      
}



/*responsividade mobile*/

@media (max-width: 767px){

    .conversao__box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;        
    }

    .conversao--titulo{
      font-size: 1.5rem;
     
  
  }


}







