footer{
    display: flex;
    height: 110px;
    box-shadow: inset 0 5px 15px -5px rgba(0, 0, 0, 0.7);
    background-color: #111111;
    color: white;

}

.footer__esquerda--box{
    width: 80%;
    height: 100%;
    display: flex;
    padding-left: 5%;
    
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.footer--nome{
    font-size: 1.2rem;
    font-family: Open Sans;
    font-weight: bold;
    color: var(--off-white);
    padding-bottom: 5px;
}

.footer__direita--box{
    width: 20%;
    height: 100%;
    padding-right: 5%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

                                /* insta button*/



.Btn--insta {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow: hidden;
  }
  
  .svgIcon {
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn--insta:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn--insta:hover .text {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn--insta:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }

                                /* code button*/

  .cssbuttons-io {
    
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.05em;
    border-radius: 25px;
    border: rgb(100, 0, 120) 1px solid;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
    padding:7px;
    
  }
  
  .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
  }
  
  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  
  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  .cssbuttons-io:active {
    transform: scale(0.95);
  }
  

  /*responsividade mobile*/

  @media (max-width: 767px){
    footer{
        height: 150px;
    }

    .footer--nome{
        font-size: 1rem;
        font-family: Open Sans;
        font-weight: bold;
        color: var(--off-white);
        padding-bottom: 10px;
    }

    .footer--contato{
        font-size: 1rem;
        font-weight: bold;
    }    
  
    .footer__esquerda--box{
        width: 70%;
        height: 100%;
        display: flex;
        padding-left: 5%;
        
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
    }
    
    .footer__direita--box{
        width: 20%;
        height: 100%;
        padding-right: 5%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .cssbuttons-io{
        margin-top: 20px;
    }


 }