.inspiracao {
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.7);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inspiracao--titulo{
    font-size: 2vw;
    font-family: Open Sans;
    font-weight: bold;
    color: var(--black);
    cursor: pointer;
    animation: lightSpeedInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */

}

.inspiracao--titulo:hover{
    text-decoration: underline;  
}



/*layout para celular*/
@media (max-width: 767px) {


    .inspiracao {
       
        height: 100px;

    }
    
    
    .inspiracao--titulo{
        font-size: 1.5rem;
        font-family: Open Sans;
        font-weight: bold;
        color: var(--black);
    }


}


/*layout para tablet*/

@media (min-width: 768px) and (max-width: 1250px){
    .inspiracao--titulo{
    font-size: 2rem;

}


}