:root{

    --o-roxo:#820AD1;
    --medium-purple:#4C0677;
    --deep-purple:#2F0549;
    --crimson-purple:#BD0FEA;  
    --off-white:#F4F4F4;
    --grey:#E4E4E4;
    --light-grey:#820AD1;
    --black:#000000;
}



body {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ol, ul, li {
    padding: 0;
    list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.container{
    
	margin: 0 auto;

}

h2{
    font-family: "pacifico", sans-serif;
    color:var(--vermelho_vinho)
}

